<!DOCTYPE html>
<html lang="en">
{% extends "index.html" %}
{% block content%}
<h1> test </h1>
<body>
    <section class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 bg-faded p-5 d-flex mr-auto rounded" style="max-width: 300px">
            <p class="mb-0">{{name1}}</br><img src={{photo1}}  style="max-width: 200px" /></br>{{location1}}</p>

          </div>
          <div class="col-xs-4 bg-faded p-5 d-flex mr-auto rounded" style="max-width: 300px">
            <p class="mb-0">{{name2}}</br><img src={{photo2}}  style="max-width: 200px" /></br>{{location2}}</p>
          </div>
          <div class="col-xs-4 bg-faded p-5 d-flex mr-auto rounded" style="max-width: 300px" >
            <p class="mb-0">{{name3}}</br><img src={{photo3}}  style="max-width: 200px" /></br>{{location3}}</p>
          </div>
        </div>
      </div>
    </section>
</body>
{% endblock %}

</html>
