<!DOCTYPE html>
<html lang="en">
{% extends "index.html" %}
{% block content%}
<body>
    <section class="page-section">
      <div class="container">
        <div class="row">
            <a href="/templates/{{coffeeId1}}">
              <div class="col-xs-4 bg-faded p-5 d-flex mr-auto rounded" style="max-width: 300px">
                <p class="mb-0">{{name1}}</br><img src={{photo1}}  style="max-width: 200px" /></br>{{location1}}</br>Price: {{price1}}</br>Rating: {{rating1}}</p>
              </div>
             </a>
            <a href="/templates/{{coffeeId2}}">
                  <div class="col-xs-4 bg-faded p-5 d-flex mr-auto rounded" style="max-width: 300px">
                    <p class="mb-0">{{name2}}</br><img src={{photo2}}  style="max-width: 200px" /></br>{{location2}}</br>Price: {{price2}}</br>Rating: {{rating2}}</p>
                  </div>
              </a>
            <a href="/templates/{{coffeeId3}}">
                  <div class="col-xs-4 bg-faded p-5 d-flex mr-auto rounded" style="max-width: 300px" >
                    <p class="mb-0">{{name3}}</br><img src={{photo3}}  style="max-width: 200px" /></br>{{location3}}</br>Price: {{price3}}</br>Rating: {{rating3}}</p>
                  </div>
              </a>

        </div>
      </div>
    </section>
</body>
{% endblock %}

</html>
