<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Coffee with a view</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/business-casual.min.css" rel="stylesheet">

  </head>
  
  {% extends "index.html" %}
  {% block content%}


  <div>
    <p></p>
  </div>


  <!--location dropdown-->
  <div class="container">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose City
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <li><a href="#">Austin, TX</a></li>
  <!--       <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">jQuery</a></li>
        <li><a href="#">Bootstrap</a></li>
        <li><a href="#">Angular</a></li> -->
      </ul>
    </div>
  </div>



  <!--carousel code-->
  <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    
    <div class="carousel-inner">

      <div class="carousel-item active">
        <p><a href="/templates/coffeeshops.html"><img class="d-block w-100" src="/static/img/coffee1.jpg" alt="First slide"></a></p>
        <div class="carousel-caption d-none d-md-block">
          <h3>Coffee Shops</h3>
          <p>Browse through local coffee shops.</p>
        </div>
      </div>

      <div class="carousel-item">
        <p><a href="/scenic"><img class="d-block w-100" src="/static/img/coffee2.jpg" alt="Second slide"></a></p>
        <div class="carousel-caption d-none d-md-block">
          <h3>Scenic Views</h3>
          <p>Click through stunning locations.</p>
        </div>
      </div>

      <div class="carousel-item">
        <p><a href="snapshots.html"><img class="d-block w-100" src="/static/img/coffee3.jpg" alt="Third slide"></a></p>
        <div class="carousel-caption d-none d-md-block">
          <h3>Snapshots</h3>
          <p>Find crystal clear snaps of your two favorite things.</p>
        </div>
      </div>

    </div> -->

    <!--Left and Right arrows-->
<!--     <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div> -->

  {% endblock %}

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!--carousel javascript-->
<!--   <script>
    $(document).ready(function(){
      // Activate Carousel
      $("#carouselExampleIndicators").carousel();
      
        // Enable Carousel Indicators
        $(".carousel-item-active").click(function(){
          $("#carouselExampleIndicators").carousel(0);
      });
      $(".carousel-item2").click(function(){
        $("#carouselExampleIndicators").carousel(1);
      });
      $(".carousel-item3").click(function(){
        $("#carouselExampleIndicators").carousel(2);
      });
      
      // Enable Carousel Controls
      $(".carousel-control-prev").click(function(){
        $("#carouselExampleIndicatorsl").carousel("prev");
      });
      $(".carousel-control-next").click(function(){
        $("#carouselExampleIndicators").carousel("next");
      });
      
    });
  </script> -->

  <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".dropdown-menu li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>


</html>
