<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/business-casual.min.css" rel="stylesheet">

  </head>
  {% extends "index.html" %}
  {% block content%}
  <body>



    <section class="page-section">
      <div class="container">
        <div class="row">
        <ul class="img-list">
          <li class="col">
           
            <img src={{photo1}} style="width: 300px; height: 300px;" alt="Photo 1">
            <span class="picText""><span>{{name1}}</br>{{rating1}}</span></span>
            <a  href="/scenic/{{placeID1}}" placeID={{placeID1}}>CLICK</a>

          </li>
          <li class="col">
            <img src={{photo2}}  style="width: 300px; height: 300px;" alt="Photo 2">
            <span class="picText""><span>{{name2}}</br>{{rating2}}</span></span>
            <a  href="/scenic/{{placeID2}}" placeID={{placeID2}}>CLICK</a>

          </li>
            <img src={{photo3}}  style="width: 300px; height: 300px;" alt="Photo 3">
            <span class="picText""><span>{{name2}}</br>{{rating2}}</span></span>
            <a  href="/scenic/{{placeID3}}" placeID={{placeID3}}>CLICK</a>
          </li>
        </ul>
      </div>
    </div>

    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Delicious Treats, Good Eats</span>
                <span class="section-heading-lower">Bakery &amp; Kitchen</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/products-02.jpg" alt="">
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Our seasonal menu features delicious snacks, baked goods, and even full meals perfect for breakfast or lunchtime. We source our ingredients from local, oragnic farms whenever possible, alongside premium vendors for specialty goods.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

   
    {% endblock %}

  </body>

</html>
