 <!DOCTYPE html>
<html lang="en">
<http> 
    <headers> 
        <frame-options policy="SAMEORIGIN"/> 
    </headers> 
</http>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/business-casual.min.css" rel="stylesheet">

  </head>
  {% extends "index.html" %}
  {% block content%}
  <body>
 <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">This View</span>
                <span class="section-heading-lower">{{name}}</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src={{photo}} alt="">
         
          <iframe 
              width="450"
              height="250"
              frameborder="0" style="border:0" 
              src= {{src_for_map}}
              allowfullscreen>
            </iframe>
          <div class="product-item-description d-flex mr-auto">
            <div>
             
            </div>
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Address: {{address}}</br>Rating: {{rating}}
                
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}

  </body>

</html>