<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


		<title>Coffee Shop</title>

		<!-- Bootstrap core CSS -->
		<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom fonts for this template -->
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/static/css/business-casual.min.css" rel="stylesheet">
	</head>

	{% extends "index.html" %}
	{% block content%}


	<!-- <body>
		<div class="content">
		    <div class="col-sm-5 instance-details">

		      <div class="product-item">
		        <div class="product-item-title">
		          <div class="bg-faded p-5 d-flex ml-auto rounded">
		            <h2 class="section-heading mb-0">
		              <span class="section-heading-upper">Local Shop:</span>
		              <span class="section-heading-lower">{{name}}</span>
		            </h2>
		          </div>
		        </div>
					</div>

					<div class="product-item-description mr-auto">
						<div class="bg-faded p-5 rounded">
							<p class="mb-0">Address: {{location}}</p>
							<p class="mb-0">Contact: {{phone}}</p>
							<p class="mb-0">Price: {{price}}</p>
							<p class="mb-0">Rating: {{rating}}</p>
						</div>
					</div>
			</div>

			<div class="col-sm-5 instance-pic">
						<img class="product-item-img mx-auto rounded img-fluid mb-3 mb-lg-0" src="{{photo}}" alt=""
						style="width: 500px; height: 500px; margin-top: 50px">
			</div>
		</div>

		<div class="model-links">
		    <p><a href="/scenic">LOCATIONS NEARBY </a></p>
		    <p><a href="/snapshots">MORE SNAPS</a></p>
		</div>
	</body> -->

	{% endblock %}

	<!-- Bootstrap core JavaScript -->
	<script src="/static/vendor/jquery/jquery.min.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/static/bundle.js"></script>

</html>
